<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatBox</title>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
</head>
<body>

<input type="text" class="message">
<button onclick="sendMessage()">Send Message</button>
<h1></h1>

<script >
    const socket = io("http://localhost:3000");
    socket.on('connection');

    socket.on('message',(data) => {
        document.querySelector('h1').innerHTML = data;
    });

    const sendMessage = () => {
        const messageInput = document.querySelector('.message').value;
        socket.emit('message',messageInput);
    }

</script>
</body>
</html>